/* Log In/ Register */
/* body {
    background-color: #3a433f;
    color: white;
    display: grid;
    justify-content: space-evenly;
}

#login-register {
    display: flexbox;
    color: #3a433f;
    background-color: white;
    justify-content: space-evenly;
}
#vinyls-table-header {
    justify-content: center;
}
 */
